.button {
    height: 10vh;
    padding-top: 20px;
    align-items: center;
    justify-content : center;
    text-align: center;
}

.input {
    padding: 12px 20px;
    margin: 8px 10px;
    box-sizing: border-box;
    width: 300px;
}